/* общее */
:root{
    font-size:16px
}
* {
    margin:0;
    letter-spacing: 0.02em;
    font-family: 'Raleway', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
img{
    width: 100%;
}
p{
    font-size: 1.0625em;
    line-height: 140%;
}
section p{
    font-weight: 500;
}
h1 {
    font-weight: 500;
    font-size: 3.4em;
    line-height: 110%;
}
h2{
    font-weight: 500;
    font-size: 2.5em;
    line-height: 110%;
}
h4{
    font-weight: 500;
    font-size: 1.25em;
    line-height: 140%;
}
h3{
    font-weight: 500;
    font-size: 1.5em;
    line-height: 140%;  
}
a {
    text-decoration:none;
    color: black;
    transition: all 0.3s;
    position: relative;
    font-size: 1.0625em;
}
a:hover {
    color:#6E9C9F;
}
a:not(.btn)::after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 1px; 
	content: "";
    background-color:#6E9C9F;
	transition: all 0.3s ease-out; 
}
a:not(.btn):hover::after {
	width: 100%; 
}
.container{
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
}
.flex {
    display:flex;
    justify-content: space-between ;
    min-width: 0;
}
.column {
    flex-direction: column;
    height: 100%;
}
header, section {
    margin-bottom: 130px;
}
/* slider */
.slider{
    max-width:100%;
    min-width: 0px;
}
.slick-dots li{
width:35px
}
.slick-dots li button:before {
    width: 30px;
    height: 4px;
    background-color:#6E9C9F ;
    content: '';
}
.slider-nav{
    position:static
}
.slider-nav .slick-dots{
    position: absolute;
    bottom: 26px;
    margin-left: -35px;
}
.single-item .slick-dots{
    bottom: 61px;
}
.single-item .slick-dots li button:before{
    background-color:white;

}
.slick-prev:before{
    content: url(./img/sliderArrow.svg);
    margin-left: -33px;
   
}
.slick-next:before{
    content: url(./img/sliderArrow.svg);
    margin-right: -33px;
    display:block;
    transform: rotate(180deg);
}
/* nav */
#nav {
    position: fixed;  
    width: 100%;
    z-index: 100;
    transition: all 0.3s;
}
#nav .container {
    align-items: center;
    height: 120px;
}
nav a {
    margin-left: 45px;
}
.logo {
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    left: 36px;
}
.logo::before {
    content: url("./img/dress\ \(1\)\ 1.svg");
    position: absolute;
    left: -36px;
    top:-3px
}
.phone::before {
    content: url(./img/telephone\ 1.svg);
}
/* header */
header { 
    max-height: 706px;
    display: grid;
    grid-template-columns:1fr  minmax(max-content, 656px) minmax(max-content, 460px) 1fr
}

header > *{
    padding-top: 120px;
}

.headerInfo {
    margin-top: 145px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    grid-area: 1 / 2 ;
}
.headerInfo h1, .headerInfo p {
    margin-bottom: 56px;
}
.headerInfo h1 {
    max-width: 585px;
}
.headerInfo p {
    max-width: 385px;
    font-size: 1.25em;
    line-height: 140%;
    text-align: right;
    letter-spacing: 0.02em;
}

.openShopButton {
    display: grid;
    grid-template-columns: 67px 243px;
    grid-template-rows: 67px;
    margin-left: 70px;
   
}
.openShopButton a:first-child {
    background-color: #F1F6F6;
}
.openShopButton a:first-child img{
    width: auto;
}
.openShopButton a:first-child:hover {
    background-color: #dfe6e6;
    
}
.openShopButton a {
    background-color: #6E9C9F;
    text-align: center;
    line-height: 138.9%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.openShopButton a:last-child:hover{
    background-color: #5f888b;
}
.headerImg{
    grid-area: 1 / 3 ;
    padding-bottom: 60px;
    padding-left:50px;
    position: relative;
    height: auto;
    background-color: #F1EADC;
}

.headerImg .slider{
    position: relative;
}
.headerImg::before {
    content: url("./img/PhotoBefore.jpg");
    position: absolute;
    bottom: -3px;
    left: -80px;
    z-index: 1;
}
.headerImg::after {
    content: url("./img/PhotoAfter.jpg");
    position: absolute;
    top: 246px;
    right: -105px;
    z-index: 1;
} 
.orangeLeft{
    background-color: #F1EADC;
    grid-area: 1 / 4 ;
}

.slider-for{
    max-width:410px
}
.slider-nav{
    max-width: 563px;
}
/*Секция новая Коллекция*/
section h2{
    margin-bottom: 92px;
}
.cataloge {
    margin-bottom: 65px;
    text-align:center ;
    
}
.catalogeItem{
    position: relative;
    margin-bottom: 24px;
}
.opacityBg{
    position: absolute;
    
    width: 100%;
    height: 100%;
    top: 0px;
    left:0px;
    z-index: 1;
    transition: all 0.5s;
}
.catalogeItem:hover .opacityBg{
    background: rgba(110, 156, 159, 0.64);
}
.catalogeItem::before{
    position: absolute;
    content: url("./img/ArrowForImg.svg");
    left: 159px;
    bottom: 228px;
    opacity: 0;
    z-index: 2;
    transition: all 0.5s;
}
.catalogeItem:hover::before{
    opacity: 1;
}
.cataloge a{
    display: block;
    
}
.cataloge img{
    display:block 
}
.cataloge h4{
    margin-bottom: 7px;
}
.catalogeButton{
    width: 243px;
    height: 68px;
   
    margin-left: auto;
    margin-right: auto;

    color: #6E9C9F;
    border: 1px solid #6E9C9F;
    transition: all 0.3s;
}
.catalogeButton:hover{
    color: white;
    background-color: #6E9C9F;
}
.catalogeButton a{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    line-height: 138.9%;
    color:inherit;
}

/*Секция описание компании*/
.description{
    gap: 30px;
}

.description img{
    margin-bottom:37px;
    width: 61px;
    height: 61px;
}
.description h3{
    margin-bottom:24px;
}
.description p{
    max-width:305px;
    
}

/*Секция описание команды*/
.single-item{
    width: 729px;
}
.sliderInfo {
    max-width: 255px;
    padding: 78px 0px;
}

.sliderInfo h3, .sliderInfo p{
    margin-bottom: 28px;
}
.sliderInfo a{
    color: #6E9C9F;
}

/*footer*/
footer {
    height: 161px;
    padding: 101px 0;
    background-color: #F1EADC;
}
.brand div{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
footer p:not(.logo, .email) {
    font-size: 0.8em;
    line-height: 140%;
}
.navLinks{
    margin-left: 36px;
}
.clothes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .container{
    display: flex;
}
.navLinks > * {
    margin-left: 45px;
   
}
.contacts{
    margin-left: auto;
    align-items:flex-end;
    text-align: right;
}
.email{
    font-size: 0.9em;
    margin-top: 9px;
}
.social {
    width: 90px;
}
img[src="./img/visa-mastercard 1.png"] {
    width: 68px;
    height: 22px;
}
/* adaptive */
@media (max-width: 1100px){
    header{
        grid-template-columns: 0 min-content minmax(min-content,1fr) 0;

    }
    .headerInfo {
        margin-top: 145px;
        padding-left: 0px;
        padding-right: 0px
    }
    
    .orangeLeft{
        display: none;
    }
   
}
/* @media (max-width: 975px){
    .description{
        flex-direction:column;
        align-items:center; 
    }
    .description > div{
        width: max-content;
    }
} */
@media (max-width: 1345px) { 
    .headerImg::after, .headerImg::before {
        display: none;
    } 
    
 }